$primary: #fff;
$secondary: #808080;
$dark-grey: #8C8C8C;
$main-bg: #08020D;
$footer-bg:  linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
$footer-font: #CACACA;
$dark-bg: #3C3B3D;
$green-btn: #34C176;
$orange: #F89202;
$red: #FF4157;
$dark-font: #555555;
$violet: #5328A1;
$dark-red: #95390C;
$album-cover: "Brother", "Out of my hands", "Letter from Egypt", "Vogts Villa", "Wild Seed", "Poetenes Evangelium";
$singer-cover: "A-ha", "Tears for Fears", "Duran Duran", "Jack Savoretti", "Keane", "Frank Sinatra", "Paul Young", "Chris Rea";
$i: 1;

body {
  font-family: Roboto;
  font-weight: bold;
  color: $primary;
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: $primary;
  @extend .flex-center;
}
.header-size {
  height: 30px;
  padding-top: 25px;
  @extend .align-center;

  .logo-img {
    width: 19.76px;
    height: 17px;
  }
  .logo {
    margin-right: 100px;
    min-width: 82px;
  }
  .header-menu {
    width: 405px;
    min-width: 405px;
    flex-wrap: nowrap;
    @extend .flex-between;
    @extend .align-center;
    text-decoration: none;
  }
  .header-navi {
    margin-bottom: 0;
  }
  .a-blank {
  flex: 0 1 335px;
  min-width: 50px;
  }
  .search {
    width: 280px;
    height: 25.71px;
    text-align: start;
    background: $dark-bg;
    color: $secondary;
    border-radius: 50px;
    border-width: 0;
    padding-left: 14px;
  }
}
.main-banner {
  background-image: url("../images/banner.png");
  background-position: top;
  padding-top: 272px;
  padding-bottom: 254px;
}
.artist-banner {
  background-image: url("../images/Morten Harket.png");
  background-position: right 30% bottom 50%;
  padding-top: 278px;
  padding-bottom: 80px;
}
.artist-banner-align {
  flex-direction: column;
  text-align: start;
}
.main-banner-align {
    flex-wrap: wrap;
    text-align: center;
} 
h1 {
    font-size: 60px;
    line-height: 0;
 }
.form-input-margin {
  margin: 0;
}
.green-button {
  width: 100%;
  height: 50px;
  @extend .font-14-bold;
  background: $green-btn;
  border-width: 0;
}
@each $name in $album-cover {
  .cover-#{$i} {
    background-image: url("../images/#{$name}.png");
  }
  $i: $i + 1;
}
$i: 1;
@each $name in $singer-cover {
  .singer-cover-#{$i} {
    background-image: url("../images/#{$name}.png");
    background-size: 100%;
  }
  $i: $i + 1;
}
h2 {
  line-height: 0,1;
  font-size: 38px;
  margin-bottom: 50px;
}
@for $i from 1 through 3 {

  .tariff-#{$i} {
  background-image: url("../images/subscribe_#{$i}.png");
  box-sizing: border-box;
  height: 580px;
  width: 350px;
  padding: 25px 24px 60px 24px;
  @extend .flex-between;
  @extend .align-center;
  flex-direction: column;
  }
}
.price {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.rubles {
  @extend .font-30;
  @extend .margin-l-10;
}
.tarrif-align {
  @extend .align-center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.tarrif-condition {
  font-size: 11px;
  text-align: center;
  width: 302px;
}
.btn-white {
  @extend .font-24;
  background-color: rgb(255, 255, 255, 0.0);
  border: 4px solid $primary;
  height: 70px;
  width: 302px;
  margin-bottom: 36px;
}
.album-cover {
  width: 566px;
  height: 284px;
}
h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.15;
  margin: 0;
}
.author-label {
  width: 221px;
  flex-wrap: nowrap;
  @extend .flex-between;
  @extend .align-center;
  font-size: 12px;
  margin: 0;
}
.author-image {
  height: 19px;
}
.album-description {
  color: $dark-grey;
  line-height: 28px;
  width: 550px;
  font-size: 14px;
}
.color-orange {
  color: $orange;
}
.issue-date {
  color: $dark-font;
}
.btn-grey {
  margin: 50px 0 0 0;
  width: 130px;
  height: 50px;
  font-size: 12px;
  border: 1px solid #E9E9E9;
  color: $dark-grey;
  background-color: $main-bg;
}
.mobile-description {
  color: $dark-grey;
  line-height: 19px;
  width: 560px;
  font-size: 16px;
}
.btn-red {
  margin-top: 25px;
  width: 174px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  border: 0;
  color: $primary;
  background-color: $red;
}
.footer-navi {
  font-size: 16px;
  font-weight: normal;
  color: $footer-font;
  text-decoration: none;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.networks-signs {
  @extend .flex-between;
  flex-wrap: nowrap;
  width: 147px;
}
.footer {
  background: $footer-bg;
  @extend .flex-center;
  color: $footer-font;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
}
.line {
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}
