body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
}
.header {
   font-size: 21px;
   font-weight: 800;
   padding: 10px;
   display: flex;
   box-sizing: border-box;
   justify-content: space-between;
   align-items: center;
   background: white;
}
.fixed {
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
}
.menu {
   display: flex;
   flex-direction: row;
   color: black;    
}
.nav-item {
   padding-right: 20px;
   color: #fff;
   cursor: pointer;
}
.nav-item a {
   text-decoration: none;
   color: black;
}
.logo {
   display: flex;
   align-items: center;
   padding: 10px;
}
.title {

}
.picture {
   padding-right: 20px;
}
.height1 {
   height: 120px;
}




