body {
  font-family: Helvetica;
  margin: 0;
  padding: 0; 
}
.border-box {
  box-sizing: border-box;
} 
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: no-wrap;
}
.flex-start {
  display: flex;
  justify-content: start;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.bg-white {
  background: white;
}
.items-center {
  align-items: center;
}  
.font-21 {
  font-size: 21px;
  font-weight: 700;
}
.font-black { 
  text-decoration: none;
  color: black;
}
.font-white { 
  color: white;
  text-decoration: none;
}
.font-w-600 {
  font-weight: 600;
}
.font-20 {
 font-size: 20px;
} 
h2 {
  font-size: 30px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 100;
}
.w-70 {
  width: 70px;
}
.margin-l-20 {
  margin-left: 20px;
}
.navi-bullet {
  padding-right: 20px;
  color: white;
}
.title-font {
  padding-left: 20px;   
}
.h-90 {
  height: 90px;
}
main {
 margin-top: 90px;
}
.cover-bg {
  background-image: url("../images/back.png");
  background-color: black;
  padding-top: 100px; 
  padding-bottom: 40px;
}
.w-500 {
  width: 500px;
}
.w-200 {
  width: 200px; 
}
.font-white {
  color: #fff;
}
.margin-b-40 {
  margin-bottom: 40px;
}
.font-50 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.font-20 {
  font-size: 20px;
  font-weight: 300;
  padding: 0;
}
.font-15 {
  font-size: 15px;
}
.btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px 15px 20px;
  border: 2px solid;
  border-radius: 15px;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-green {
  color: #00fa9a;
  border-color: #00fa9a;
}
.max-w {
  max-width: 1000px;
}
.pad-0 {
  padding: 0;
}
.pad-10 {
  padding: 10px;
}
.pad-t-80 {
  padding-top: 80px;
}
.pad-b-80 {
  padding-bottom: 80px;
}
.pad-b-20 {
  padding-bottom: 20px;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-r-30 {
  padding-right: 30px;
}
.pad-t-60 {
  padding-top: 60px;
}
.pad-l-10 {
  padding-left: 10px;
}
.w-300 {
  width: 300px;
}
.w-120 {
  width: 120px;
}
.w-150 {
  width: 150px;
}
.margin-r-50 {
  margin-right: 50px;
}
.margin-l-150 {
  margin-left: 150px;
}
.margin-r-150 {
  margin-right: 150px;
}
.margin-l-20 {
  margin-left: 20px;
}
.marging-t-20 {
  margin-top: 20px;
}
.margin-l-100 {
  margin-left: 100px;
}
.img-w-350 {
  width: 350px; 
  height: 230px;
}
.bg-grey {
  background:  #f7f7f7;
}     
.w-400 {
  width: 400px;
}
label {
  margin-right: 20px;
  margin-top: 20px;
}
legend {
  color: #00fa9a;
  font-size: 20px;
  font-weight: 600;  
}
.border-r-5 {
  border-radius: 5px;
  border: solid 1ps;
  padding: 5px 0 5px 0;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.border-green {
  border-color: #00fa9a;
}
.bg-dark {
  background: #303846;
}
.w-07 {
  width: 70%;
}
.img-w-30 {
  width: 30px; 
}
.foot-font {
  color: white;
  text-decoration: none;
}