body {
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.header-size {
  height: 30px;
  padding-top: 25px;
}
.header-size .logo-img {
  width: 19.76px;
  height: 17px;
}
.header-size .logo {
  margin-right: 100px;
  min-width: 82px;
}
.header-size .header-menu {
  width: 405px;
  min-width: 405px;
  flex-wrap: nowrap;
  text-decoration: none;
}
.header-size .header-navi {
  margin-bottom: 0;
}
.header-size .a-blank {
  flex: 0 1 335px;
  min-width: 50px;
}
.header-size .search {
  width: 280px;
  height: 25.71px;
  text-align: start;
  background: #3C3B3D;
  color: #808080;
  border-radius: 50px;
  border-width: 0;
  padding-left: 14px;
}

.main-banner {
  background-image: url("../images/banner.png");
  max-height: 850px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 272px;
  padding-bottom: 254px;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
}

.artist-banner {
  background-image: url("../images/Morten Harket.png");
  width: 100%;
  box-sizing: border-box;
  padding-top: 278px;
  padding-bottom: 80px;
  color: #fff;
}

.artist-banner-align {
  flex-direction: column;
  text-align: start;
}

.main-banner-align {
  flex-wrap: wrap;
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 0;
}

.form-input-margin {
  margin: 0;
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.green-button {
  width: 100%;
  height: 50px;
  background: #34C176;
  border-width: 0;
}

.artist-btn {
  width: 200px;
  height: 50px;
  border-width: 0;
  padding: 15px 15px 15px 15px;
}

.cover-1 {
  background-image: url("../images/Brother.png");
}

.cover-2 {
  background-image: url("../images/Out of my hands.png");
}

.cover-3 {
  background-image: url("../images/Letter from Egypt.png");
}

.cover-4 {
  background-image: url("../images/Vogts Villa.png");
}

.cover-5 {
  background-image: url("../images/Wild Seed.png");
}

.cover-6 {
  background-image: url("../images/Poetenes Evangelium.png");
}

.singer-cover-1 {
  background-image: url("../images/A-ha.png");
}

.singer-cover-2 {
  background-image: url("../images/Tears for Fears.png");
}

.singer-cover-3 {
  background-image: url("../images/Duran Duran.png");
}

.singer-cover-4 {
  background-image: url("../images/Jack Savoretti.png");
}

.singer-cover-5 {
  background-image: url("../images/Keane.png");
}

.singer-cover-6 {
  background-image: url("../images/Frank Sinatra.png");
}

.singer-cover-7 {
  background-image: url("../images/Paul Young.png");
}

.singer-cover-8 {
  background-image: url("../images/Chris Rea.png");
}

h2 {
  line-height: 0, 1;
  font-size: 38px;
  margin-bottom: 50px;
}

.tariff-1 {
  background-image: url("../images/subscribe_1.png");
  box-sizing: border-box;
  height: 580px;
  width: 350px;
  padding: 25px 24px 60px 24px;
  flex-direction: column;
}

.tariff-2 {
  background-image: url("../images/subscribe_2.png");
  box-sizing: border-box;
  height: 580px;
  width: 350px;
  padding: 25px 24px 60px 24px;
  flex-direction: column;
}

.tariff-3 {
  background-image: url("../images/subscribe_3.png");
  box-sizing: border-box;
  height: 580px;
  width: 350px;
  padding: 25px 24px 60px 24px;
  flex-direction: column;
}

.price {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.tarrif-align {
  flex-wrap: nowrap;
  flex-direction: column;
}

.tarrif-condition {
  font-size: 11px;
  text-align: center;
  width: 302px;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid #fff;
  height: 70px;
  width: 302px;
  margin-bottom: 36px;
}

.album-cover {
  width: 566px;
  height: 284px;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.15;
  margin: 0;
}

.author-label {
  width: 221px;
  flex-wrap: nowrap;
  font-size: 12px;
  margin: 0;
}

.author-image {
  height: 19px;
}

.album-description {
  color: #8C8C8C;
  line-height: 28px;
  width: 550px;
  font-size: 14px;
}

.color-orange {
  color: #F89202;
}

.issue-date {
  color: #555555;
}

.btn-grey {
  margin: 50px 0 0 0;
  width: 130px;
  height: 50px;
  font-size: 12px;
  border: 1px solid #E9E9E9;
  color: #8C8C8C;
  background-color: #08020D;
}

.mobile-description {
  color: #8C8C8C;
  line-height: 19px;
  width: 560px;
  font-size: 16px;
}

.btn-red {
  margin-top: 25px;
  width: 174px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  border: 0;
  color: #fff;
  background-color: #FF4157;
}

.footer-navi {
  font-size: 16px;
  font-weight: normal;
  color: #CACACA;
  text-decoration: none;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.networks-signs {
  flex-wrap: nowrap;
  width: 147px;
}

.footer {
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
  color: #CACACA;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
}

.line {
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}

.text-center {
  text-align: center;
}

.flex-between, .small-track-container, .track-container, .tariff-container, .input-container, .buttons-container, .form-container, .header-size .header-menu, .tariff-1, .tariff-2, .tariff-3, .author-label, .networks-signs {
  display: flex;
  justify-content: space-between;
}

.flex-center, .frame, .big-container, .foot-container, header, .main-banner, .artist-banner, .footer {
  display: flex;
  justify-content: center;
}

.flex-start, .foot-menu-container, .navi-container, .small-container, .artist-btn {
  display: flex;
  justify-content: start;
}

.absolute {
  position: absolute;
}

.flex-column {
  flex-direction: column;
}

.align-center, .small-track-container, .track-container, .middle-container, .input-container, .header-size, .header-size .header-menu, .artist-btn, .tariff-1, .tariff-2, .tariff-3, .tarrif-align, .author-label {
  display: flex;
  align-items: center;
}

.align-start, .form-input {
  display: flex;
  align-items: flex-start;
}

.font-primary, .small-album-date, .small-album-name, .track-name, .artist-btn {
  color: #fff;
  text-decoration: none;
}

.font-secondary, .track-time, .track-author {
  color: #808080;
  text-decoration: none;
}

.bg-violet {
  background-color: #5328A1;
}

.bg-dark-red {
  background-color: #95390C;
}

.font-60 {
  font-size: 60px;
  line-height: 60px;
}

.font-30, .rubles {
  font-size: 30px;
}

.font-24, .btn-white {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}

.font-22 {
  font-size: 22px;
  color: #fff;
  font-weight: normal;
}

.font-20, .small-album-name {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.font-18 {
  font-size: 18px;
  line-height: 0;
  margin: 0;
}

.font-16, .small-album-date {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.font-14-bold, .form-input, .green-button {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.font-14-normal, .track-time, .track-name, .artist-btn {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.font-12-normal, .track-author {
  font-size: 12px;
  margin: 0;
}

.font-11 {
  font-size: 11px;
}

.line-h-03 {
  line-height: 0.3;
}

.line-h-12 {
  line-height: 1.2;
}

.margin-b-60 {
  margin-bottom: 60px;
}

.margin-b-38 {
  margin-bottom: 38px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-25, .track-container {
  margin-bottom: 25px;
}

.margin-b-50, .small-album-container {
  margin-bottom: 50px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-10, .small-album-name {
  margin-bottom: 10px;
}

.margin-b-5, .track-name {
  margin-bottom: 5px;
}

.margin-r-40 {
  margin-right: 40px;
}

.margin-r-50, .small-album-container {
  margin-right: 50px;
}

.margin-r-15, .btn-icon {
  margin-right: 15px;
}

.margin-b-100 {
  margin-bottom: 100px;
}

.margin-l-10, .rubles {
  margin-left: 10px;
}

.margin-t-35 {
  margin-top: 35px;
}

.margin-t-90 {
  margin-top: 90px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-75 {
  padding-top: 75px;
}

.padding-top-100 {
  padding-top: 100px;
}

.small-device-reverse {
  flex-direction: row;
}

.big-container, .foot-container {
  width: 1200px;
}

.frame {
  background-color: #08020D;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
}

.form-container {
  width: 570px;
  max-width: 570px;
  flex-direction: column;
  color: #fff;
}

.buttons-container {
  width: 435px;
  flex-direction: row;
  color: #fff;
}

.input-container {
  width: auto;
}

.form-input {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding-left: 20px;
}

.tariff-container {
  font-weight: normal;
  margin-bottom: 50px;
}

.middle-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.small-container {
  width: 566px;
  flex-direction: column;
  font-weight: normal;
  margin: 0;
}

.track-container {
  width: 532px;
  flex-wrap: nowrap;
}

.small-track-container {
  flex-wrap: wrap;
}

.track-icon {
  width: 55.3px;
  height: 50px;
  margin-right: 17px;
}

.small-album-cover {
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  padding: 215px 210px 10px 15px;
}

.small-album-container {
  flex-direction: column;
}

.navi-container {
  flex-direction: column;
}

.foot-container {
  justify-content: space-between;
  box-sizing: border-box;
  padding: 80px 0 100px 0;
}

.foot-menu-container {
  width: 1200px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1280px) {
  .big-container, .foot-container {
    min-width: auto;
    width: 100vw;
  }

  .header-size {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-size .logo {
    margin-right: 20px;
  }
  .header-size .a-blank {
    min-width: 20px;
    width: 50px;
  }
  .header-size .header-menu {
    min-width: 300px;
  }

  .main-banner-align h1 {
    font-size: calc(100vw/1280*60);
  }
  .main-banner-align .form-container {
    width: 50vw;
  }
  .main-banner-align .form-input {
    width: calc(100vw/1250*270);
  }

  .main-banner {
    height: 100%;
  }

  .font-30, .rubles {
    font-size: calc(100vw/1280*30);
  }

  .tariff-1 {
    width: calc(100vw*0.8/3);
    border-radius: 10px;
  }

  .tariff-2 {
    width: calc(100vw*0.8/3);
    border-radius: 10px;
  }

  .tariff-3 {
    width: calc(100vw*0.8/3);
    border-radius: 10px;
  }

  .btn-white {
    width: 100%;
  }

  .tarrif-condition {
    width: 100%;
  }

  .font-24, .btn-white {
    font-size: calc(100vw/1250*24);
  }

  .font-22 {
    font-size: calc(100vw/1250*22);
  }

  .font-18 {
    font-size: calc(100vw/1250*18);
  }

  h2 {
    font-size: calc(100vw/1250*38);
  }

  .album-cover {
    width: 42vw;
    height: 21vw;
  }

  .album-description {
    width: auto;
  }

  .small-container {
    width: 40vw;
  }

  .btn-grey {
    margin-top: 20px;
  }

  .mobile-description {
    width: auto;
  }
}
@media (max-width: 899px) {
  .main-banner-align {
    justify-content: center;
  }
  .main-banner-align h1 {
    font-size: 35px;
    line-height: 1;
  }
  .main-banner-align .form-container {
    width: 280px;
    justify-content: space-between;
  }
  .main-banner-align .input-container {
    flex-direction: column;
  }
  .main-banner-align .form-input {
    width: 280px;
    margin: 0;
  }

  .font-30, .rubles {
    font-size: 22px;
  }

  .font-24, .btn-white {
    font-size: 18px;
  }

  .font-22 {
    font-size: 16px;
  }

  .font-18 {
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }

  .header-size {
    box-sizing: border-box;
    padding-left: 30px;
    width: 100vw;
    height: 30vw;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  .header-size .a-blank {
    min-width: 0;
    width: 0;
    height: 0;
    order: 4;
  }
  .header-size .header-menu {
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: auto;
    min-width: 0;
    order: 3;
    padding: 0;
  }
  .header-size .header-navi {
    margin-bottom: 10px;
  }

  .main-banner {
    width: 100%;
    padding-bottom: 50px;
  }

  .tariff-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .tariff-1 {
    width: 350px;
    margin-bottom: 50px;
  }

  .tariff-2 {
    width: 350px;
    margin-bottom: 50px;
  }

  .tariff-3 {
    width: 350px;
    margin-bottom: 50px;
  }

  .btn-white {
    width: 302px;
  }

  .tarrif-condition {
    width: 302px;
  }

  .middle-container {
    flex-direction: column;
    align-items: start;
  }

  .album-cover {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .small-container {
    width: auto;
  }

  .small-device-reverse {
    flex-direction: column-reverse;
  }

  footer {
    width: 100vw;
  }

  .foot-container {
    flex-direction: column;
    align-items: start;
  }

  .foot-menu-container {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .footer-navi {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .frame {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-size {
    padding-left: 20px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-banner-align h1 {
    font-size: 30px;
  }

  .font-30, .rubles {
    font-size: 18px;
  }

  .font-24, .btn-white {
    font-size: 16px;
  }

  .font-22 {
    font-size: 12px;
  }

  .font-18 {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }

  .tariff-1 {
    width: 280px;
    height: 463px;
    padding-bottom: 16px;
  }

  .tariff-2 {
    width: 280px;
    height: 463px;
    padding-bottom: 16px;
  }

  .tariff-3 {
    width: 280px;
    height: 463px;
    padding-bottom: 16px;
  }

  .btn-white {
    width: 239px;
  }

  .tarrif-condition {
    width: 239px;
  }

  .album-cover {
    width: 280px;
    height: 140px;
  }

  .mobile-description {
    width: 100%;
  }

  .phone-image {
    width: 279px;
    height: 233px;
  }
}

/*# sourceMappingURL=style.css.map */
